@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form {
    border: 2px dashed #5256ad;
    padding: 40px 20px;
    margin: 40px auto;
    width: 50%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form.active{
  border: 2px solid #5256ad;
}
.form .icon{
  font-size: 50px;
  color: #5256ad;
}
.form header{
  font-size: 24px;
  font-weight: 500;
  color: #5256ad;
}
.form span{
  font-size: 20px;
  font-weight: 500;
  color: #5256ad;
  margin: 10px 0 15px 0;
}
.form__button {
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #5256ad;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.form img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}